---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=8d788e59&app_key=8831e364124e938aae8e26c9f90c57d5&q=sfjklsdfjklv&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Mon, 13 Nov 2023 10:17:18 GMT
recorded_with: VCR 6.2.0
